@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-shadow-right {
  box-shadow: 10px 0 10px -5px rgba(13, 66, 182, 0.18);
  }
}

html,
body {
  height: 100%;
  font-family: 'Public Sans', sans-serif;
}

#root {
  min-height: 100%;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield;
}